fastapi 
uvicorn 
click 
langchain-pinecone 
langchainhub 
tiktoken 
pypdf 
python-dotenv 
langchain-core 
langchain 
langchain_community
langchain-mistralai
pinecone-client 
python-multipart 
pymupdf 
bcrypt 
passlib 
pymongo 
PyJWT 
bcrypt 
mongoengine 
blinker  