

.search-page {
  padding: 40px;
  color: white;
  background-color: rgba(18, 18, 18);
  max-height: 100%;
}

.search-page h2 {
  margin-bottom: 20px;
}

.search-header {
  margin-bottom: 25px;
  text-align: center;
}

.search-header h2 {
  font-size: 22px;
  font-weight: 600;
  //color: #ff2c2c;
  transition: all 0.3s ease;
}

.results-count {
  margin-top: 5px;
  font-size: 14px;
  color: #bbbbbbd3;
}

.no-results {
  margin-top: 20px;
  color: #888;
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.result-card {
  background: #111;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.result-card:hover {
  transform: scale(1.05);
}

.result-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.result-card h5 {
  padding: 10px;
  font-size: 14px;
}

.header-inner {
  width: 100%;
  padding: 0 100px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.navbar-brand {
    color: #0984e3 !important;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;

    &:hover {
      color: #74b9ff !important;
    }
}

.navbar-logo {
  height: 51px;          
  width: auto;           
  object-fit: contain;
  position: relative;
  z-index: 1; 
  margin-right: 6px;  
}

.glow-red {
  animation: redGlow 3s ease-in-out infinite;
}

@keyframes redGlow {
  0% {
    filter:
      drop-shadow(0 0 6px rgba(229, 9, 20, 0.4))
      drop-shadow(0 0 14px rgba(229, 9, 20, 0.3));
  }
  50% {
    filter:
      drop-shadow(0 0 10px rgba(229, 9, 20, 0.7))
      drop-shadow(0 0 26px rgba(229, 9, 20, 0.5));
  }
  100% {
    filter:
      drop-shadow(0 0 6px rgba(229, 9, 20, 0.4))
      drop-shadow(0 0 14px rgba(229, 9, 20, 0.3));
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

// .loader {
//   width: 60px;
//   height: 60px;
//   border: 6px solid #2a2a2a;
//   border-top: 6px solid #ff2c2c; // NextFlick red
//   border-radius: 50%;
//   animation: spin 0.8s linear infinite;
// }

.loader {
  width: 60px;
  height: 60px;
  border: 6px solid #1a1a1a;
  border-top: 6px solid #ff2c2c;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  box-shadow: 0 0 20px rgba(255, 44, 44, 0.6);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}