MONGODB_URL="mongodb://localhost:27017"
DB="s2p_chat_bot"
 
MISTRAL_API_KEY=""
MISTRAL_MODEL="mistral-tiny" 
MISTRAL_EMBED_MODEL="mistral-embed"

PINECONE_API_KEY=""
PINECONE_ENV="us-east-1-aws"
PINECONE_INDEX=""
PINECONE_TEXT_FIELD="text"

TMDB_API_KEY = ""

JWT_SECRET=chatbot
JWT_ALGO=HS256
ACCESS_TOKEN_EXPIRE_MINUTES="3200"
