.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
    position: relative;   /* VERY IMPORTANT */
    width: 80%;
    max-width: 1000px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.modal-hero {
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
}

.modal-dark-overlay {
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.3)
    );
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
   position: relative;
}

.modal-info {
  max-width: 600px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9999;       /* VERY IMPORTANT */
  background: red;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}


.trailer-btn {
  margin-top: 15px;
  padding: 8px 16px;
  background: #e50914;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

.modal-content-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.modal-poster {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.7);
}


.modal-info {
  max-width: 600px;
  color: white;
}

